<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Courses</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/courses">COURSES</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">


            <form class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                           placeholder="Search...">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary btn-number">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <a class="btn btn-primary btn-sm ml-3" href="/logout">
                    <i class="fa fa-shopping-cart"></i> Logout
                </a>
            </form>
        </div>
    </div>
</nav>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">STUDENTS</h1>
    </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="col-12" th:if="${students.size() > 0}">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Add Student</th>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Username</th>
                        <th scope="col">Grade</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="student : ${students}">
                        <td>
                            <form th:action="@{'/courses/select-student/{username}/{id}' (username=${student.getUsername}, id=${course.getCourseId})}"
                                  th:method="POST">
                                <button type="submit" class="btn btn-sm btn-success"><i
                                        class="fa fa-trash">Select</i></button>
                            </form>
                        </td>
                        <td th:text="${student.getName()}"></td>
                        <td th:text="${student.getSurname()}"></td>
                        <td th:text="${student.getUsername()}"></td>
<!--                        <td>-->
<!--                            <a th:href="@{'/courses/select-course/{id}' (id=${course.getCourseId()})}"-->
<!--                               class="btn btn-sm btn-info"><i class="fa fa-trash">Select</i></a>-->
<!--                        </td>-->
                        <td>
<!--                            <a th:href="@{'/grades/add-form/{id}/{username}' (id=${course.getCourseId()},id=${course.getCourseId() )}"-->
                            <a th:href="@{'/grades/add-form/{username}/{id}' (username=${student.getUsername}, id=${course.getCourseId})}"
                               class="btn btn-sm btn-info"><i class="fa fa-trash">Add Grade</i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-3">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <a href="/createStudent" class="btn btn-block btn-dark">Add new student</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="text-black-50 mt-xl-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>About</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant
                    impression.
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>Informations</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                    <li><a href="">Link 4</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                <h5>Others links</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                    <li><a href="">Link 4</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"></i> My courses</li>
                    <li><i class="fa fa-envelope mr-2"></i> email@example.com</li>
                    <li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>
                    <li><i class="fa fa-print mr-2"></i> + 33 12 14 15 16</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>


<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"><head>-->
<!--    <meta charset="utf-8">-->
<!--    <title>Welcome and Choose a Course</title>-->
<!--    <link href="/main.css" rel="stylesheet"/>-->
<!--    <style>-->
<!--        body {-->
<!--            width: 800px;-->
<!--            margin: auto;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<header>-->
<!--    <h1>Courses List</h1>-->
<!--</header>-->
<!--<main>-->
<!--    <h2>Choose course:</h2>-->
<!--    <form th:method="POST" th:action="@{/listCourses}">-->
<!--            <div th:each="course: ${courses}">-->
<!--                <input type="radio" th:name="courseIdValue" th:value="${course.courseId}">-->
<!--                <label th:text="${course.name}"></label>-->
<!--            </div>-->
<!--        <input type='submit' value='Submit'/>-->
<!--    </form>-->
<!--    <br/>-->
<!--</main>-->
<!--<div th:if="${hasError}" class="error">-->
<!--    <div th:text="${error}"></div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->


<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <title>Add new Student to Course</title>-->
<!--    <style>-->
<!--        body {-->
<!--            width: 800px;-->
<!--            margin: auto;-->
<!--        }-->
<!--        table {-->
<!--            width:100%;-->
<!--        }-->
<!--        table, td, th {-->
<!--            border: 1px solid black;-->
<!--            padding:3px 2px;-->
<!--        }-->
<!--        section {-->
<!--            float: left;-->
<!--            margin: 0 1.5%;-->
<!--            width: 63%;-->
<!--        }-->
<!--        aside {-->
<!--            float: right;-->
<!--            margin: 0 1.5%;-->
<!--            width: 30%;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<header>-->
<!--    <h1>Student Enrollment - Select the Student </h1>-->
<!--</header>-->
<!--<section>-->
<!--    <h2>Select the student to enroll:</h2>-->
<!--    <a href='/createStudent' type='button'>Create New Student</a> <br/>-->
<!--    <form th:method="POST" th:action="@{/AddStudent}">-->
<!--        <div th:each="student: ${students}">-->
<!--            <input type="radio" th:name="studentId" th:value="${student.username}" class="custom-control-input">-->
<!--            <label th:text="${student.name}">model</label>-->
<!--        </div>-->
<!--        <input type='submit' th:value="Submit"/>-->
<!--    </form>-->
<!--    <br/>-->
<!--    <br/>-->
<!--</section>-->
<!--<aside>-->
<!--    <table>-->
<!--        <tr>-->
<!--            <th colspan="2">-->
<!--                Your Enrollment Status-->
<!--            </th>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><b>Course Id</b></td>-->
<!--            <td th:text="${session.courseId}"></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</aside>-->

<!--</body>-->
<!--</html>-->